{% extends "layout.html" %}
{% block title %}Review{% endblock %}
{% block head %}{{ super() }}
{% endblock %}
{% block page_header %}Exam Review{% endblock %}
{% block page_header_p %}
{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js"></script>
<div class="jumbotron" id="results">

    <score v-if="isActive" :score="score"></score>
    <exam_review v-if="isActive" :exam_questions="exam_data.exam_questions"></exam_review>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{{url_for('quiz.index')}}" role="button">All Done!</a>
  </p>
</div>
<script src="{{ url_for('quiz.static', filename='check.js') }}"></script>`
{% endblock %}
