<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="BGASM">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/sl-1.3.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/sl-1.3.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.3/jquery.mobile-events.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
    <title>Practice Quiz - MSU Class 2024 Qbank</title>

    <script type="text/javascript">
    $(window).on('load', function() {
        $('#startModal').modal('show');
    });
</script>
</head>

  <body class="d-flex flex-column min-vh-100">
    <div class ="modal" id="startModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Begin Exam?</h5>
              </div>
              <div class="modal-body">
                <p>Timer will start once you click start</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Start!</button>
              </div>
            </div>
        </div>
    </div>

    <div class="modal" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="submitModalLongTitle">Submit Exam?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you ready to submit your exam? One you click submit you will have a chance to review your exam.</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <header>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-primary" style="">
      <a class="navbar-brand" href="{{ url_for('quiz.index') }}">MSU Class 2024 Qbank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('quiz.quiz') }}">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('quiz.add_question') }}">Add Quiz</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
              <a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <main role="main">
    <div class="d-flex">
      <div class="card text-white bg-primary mr-auto flex-shrink-1 text-center">
        <div class="card-header text-center text-uppercase p-0">Q #</div>
            <div class="card-body m-0 p-0">
                 <ul class="navbar-nav " id="question_list">
                    {% for index in qlist %}
                    <li>
                        <button
                            type="button"
                            class="btn btn-link btn-sm"
                            id="{{ index.test_no }}"
                            data-test_no="{{ index.test_no }}">
                            {{ index.test_no }}
                            </button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="d-flex flex-grow-1 container-fluid m-0 p-0" >
        <div class="p-2 flex-grow-1 align-self-stretch mr-auto">
          <div id="question_placement" style="max-width: 980px;"></div>

            <div class="btn-group" role="group" id="btn-group" hidden>
                <button class="btn btn-primary" type="button" value="Previous">
                    Previous
                </button>
                <button class="btn btn-primary" type="button" value="Next">
                    Next
                </button>
                <button class="btn btn-primary" type="button" value="Flag">
                    Flag
                </button>
                <button type="button" id="submitbutton" class="btn btn-primary" data-toggle="modal" data-target="#submitModal" hidden>
                  Submit
                </button>
            </div>

            <div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4"></div>
			</div>
        </div>
        </div>
      </div>
    </main>

    <footer class="bd-footer">
    <div class="container-fluid">
      <span class="text-muted">© Copyright 2021 by BGASM.</span>
    </div>
  </footer>
    <script type="text/javascript">
        var q_no = 1;
        var max_q_no = document.getElementById("question_list").getElementsByTagName("li").length
        console.log(max_q_no)
        $('#startModal').on('click', 'button', function(){
            var quid = document.getElementById(1);
            document.getElementById("btn-group").hidden = false;
            sessionStorage.clear();
            get_question(quid.dataset.test_no);
        });

        $('#submitModal').on('click', '.btn-primary ', function(){
            var local = JSON.stringify(sessionStorage)
            $.ajax({
                type: 'POST',
                url: "{{ url_for('quiz.exam')}}",
                data: local,
                contentType: 'application/json; charset=ytf-8',
                success: function(response) {
                  window.location.href = response;
                },
                error: function(result) {
                  alert('oops');
                }
          });
        })
        $(function() {
            if (jQuery.isTouchCapable() == true) {
            $('body').on('swipeleft', function(e) { next_page('Previous'); })
                     .on('swiperight', function(e) { next_page('Next'); })
            }
        });

        function next_page( btn_sel )
        {
            if (btn_sel == 'Next'){
                if (q_no < max_q_no) {
                    q_no++;
                    var id = document.getElementById(q_no);
                    document.getElementById("submitbutton").hidden = true;
                    get_question(id.dataset.test_no);
                } else if (q_no == max_q_no) {
                    document.getElementById("submitbutton").hidden = false;
                }
            } else if (btn_sel == 'Previous'){
                if (q_no > 1){
                    q_no--;
                    var id = document.getElementById(q_no);
                    document.getElementById("submitbutton").hidden = true;
                    get_question(id.dataset.test_no);
                }
            } else if (btn_sel == 'Flag'){
                alert(btn_sel)
            }
        }


        $(function () {
            $(document).on('swipeleft', function (e) {
                if (q_no > 1) {
                    q_no--;
                    var id = document.getElementById(q_no);
                    document.getElementById("submitbutton").hidden = true;
                    get_question(id.dataset.test_no);
                }
            })
                .on('swiperight', function (e) {
                    if (q_no < 1) {
                        q_no++;
                        var id = document.getElementById(q_no);
                        document.getElementById("submitbutton").hidden = true;
                        get_question(id.dataset.test_no);
                    } else if (q_no == max_q_no) {
                        document.getElementById("submitbutton").hidden = false;
                    }
                })
        });

        $('body').on('click', '.btn-group button', function(e){
            var btn_sel = $(this).val()
            console.log(btn_sel)
            next_page(btn_sel)
        });

        function get_question(test_no) {
            console.log(test_no)
            $.ajax({
                type: 'get',
                url: "{{ url_for('quiz.question_return')}}",
                data: {test_no: test_no},
                success: function (response) {
                    $("#question_placement").html(response)
                },
                error: function (result) {
                    alert('oops');
                }
            });
        }

        $('#question_list').on('click', 'button', function(e){
            var id = document.getElementById(e.target.id);
            q_no = id.dataset.test_no;
            get_question(id.dataset.test_no);
        });
    </script>

  </body>
</html>
