{% extends "global.html" %}
{% block start %}
<title>Exam - MSU Class 2024 Qbank</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="BGASM">

    <script src="https://cdn.jsdelivr.net/npm/vue@3.0.2/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/sl-1.3.1/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/sl-1.3.1/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-touch-events/2.0.3/jquery.mobile-events.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
    <title>Practice Quiz - MSU Class 2024 Qbank</title>

    <script type="text/javascript">
    $(window).on('load', function() {
        $('#startModal').modal('show');
    });
    </script>

{% endblock start %}}
{% block continue %}
  <body class="d-flex flex-column min-vh-100">
    <div id="vue-template">
    <div class ="modal" id="startModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Begin Exam?</h5>
              </div>
              <div class="modal-body">
                <p>Select if you want to be graded after each question or only at the end of test.</p>
              </div>
              <div class="modal-footer">
                <button v-on:click="toggleActive(false)" type="button" class="btn btn-primary" data-dismiss="modal">Grade at end</button>
                <button v-on:click="toggleActive(true)" type="button" class="btn btn-primary" data-dismiss="modal">Grade as I go</button>
              </div>
            </div>
        </div>
    </div>
    <div v-if="issubmit">
        <div class="modal" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="submitModalLongTitle">Submit Exam?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Are you ready to submit your exam? One you click submit you will have a chance to review your exam.</p>
              </div>
              <div class="modal-footer">
                <button @click="posthome" type="button" id="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <header>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-primary" style="">
      <a class="navbar-brand" href="{{ url_for('quiz.index') }}">MSU Class 2024 Qbank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('quiz.quiz') }}">Practice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('quiz.add_question') }}">Add Quiz</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
              <a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
        <main role="main">
        <div class="d-flex min-vh-100" >
        <div class="card text-white bg-primary mr-auto flex-shrink-1 text-center d-none d-md-block">
            <div class="card-header text-center text-uppercase p-0">Q #</div>
            <div class="card-body m-0 p-0">
                <ul id="question_list" class="navbar-nav" >
                    <li v-for="exam in myexams">
                        <buttonquestion :buttontext="exam.question_no" @updatequestion="updatequestion"></buttonquestion>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-grow-1 container-fluid m-0 p-0" >

            <div class="jumbotron d-flex flex-column" id="test_question" style="padding-bottom: 10px; padding-top: 20px;">
                <div id="question_placement" style="max-width: 980px;">
                    <question-return
                        v-if="isActive"
                        :qno="refreshQuestion.question_no"
                        :question="refreshQuestion.question.question"
                        :mcqs="refreshQuestion.mcq_list"
                        :answer="refreshQuestion.question.answer"
                        :flashcard="flashcard"
                        :immediate="immediate"
                        ></question-return>
                </div>
            </div>
                <quiznavigation @ahead="ahead" @behind="behind" @submit="submit" @flashahead="flashahead"
                        v-if="isActive"
                        :flashcard="flashcard"
                        :endofexam="endofexam"
                        :immediate="immediate"
                ></quiznavigation>

        </div>



                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
            </div>
          </div>
        </main>

    <footer class="bd-footer">
    <div class="container-fluid">
      <span class="text-muted">© Copyright 2021 by BGASM.</span>
    </div>
  </footer>

    <script src="{{ url_for('quiz.static', filename='exam.js') }}"></script>`
  </body>
{% endblock continue %}
