{% extends "layout.html" %}
{% block title %}Add Question{% endblock %}
{% block head %}{{ super() }}
{% endblock %}}

{% block page_header %}Input Qbank{% endblock %}
{% block content %}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://repl.it/@BGASM/DraftyLankyEmulation?lite=true"
    allowtransparency="true"
    allowfullscreen="true"
    sandbox="allow-forms
    allow-pointer-lock
    allow-popups
    allow-same-origin
    allow-scripts
    allow-modals"></iframe>
</div>
{% endblock %}

