{% extends "layout.html" %}
{% block title %}Qbank{% endblock title %}
{% block head %}{{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
    var table = $('#quizTable').DataTable({
     responsive: true,
        "columnDefs": [{
        "visible": false,
        "targets": 5
      }],
      select: {
        style: 'multi'
      },
      dom: "<'row'<'col-sm-12 col-md-6'f><'col-sm-12 col-md-6'p>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-12 col-md-6'i><'col-sm-12 col-md-6'B>>",
      buttons: [{
        text: 'Load Quizzes',
        action: function(e, dt, node, config) {
          return_data(table);
        }
      }]
    });


});

function return_data(table) {
  var selected = []
  table.rows({
    selected: true
  }).every(function(rowIdx) {
    selected.push(table.row(rowIdx).data())
  });
  console.log(selected)
  $.ajax({
    type: 'POST',
    url: "{{ url_for('quiz.quiz')}}",
    data: JSON.stringify(selected),
    contentType: 'application/json; charset=ytf-8',
    success: function(response) {
      window.location.href = response;
    },
    error: function(result) {
      alert('oops');
    }
  });
}
</script>
{% endblock head %}

{% block page_header %}Qbank{% endblock %}
{% block page_header_p %}
<p>Pick a quiz to try.</p>
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center" >

          <table id="quizTable" class="table table-striped table-bordered table"  cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Title</th>
                <th>Course</th>
                <th>Questions</th>
                <th>Creator</th>
                <th>Ranking</th>
                <th>Quiz ID</th>
              </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.title }}</td>
                    <td>{{ row.course }}</td>
                    <td>{{ row.no_questions }}</td>
                    <td>{{ row.user }}</td>
                    <td>{{ row.ranking }}</td>
                    <td>{{ row.id }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>

</div>
{% endblock %}

