<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %} - MSU Class 2024 Qbank</title>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="BGASM">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/r-2.2.7/sl-1.3.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.23/b-1.6.5/r-2.2.7/sl-1.3.1/datatables.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous">
{% endblock %}
</head>
<body class="d-flex flex-column h-100">
   <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-primary" style>
         <a class="navbar-brand" href="{{ url_for('quiz.index') }}">MSU Class 2024 Qbank</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('quiz.quiz') }}">Practice</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('quiz.add_question') }}">Add Quiz</a>
               </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
                  <div class="dropdown-menu">
                     <a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a>
                     <a class="dropdown-item" href="{{ url_for('auth.register') }}">Register</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
   </header>
   <!-- Begin page content -->
   <main role="main">
      <div class="d-flex flex-column align-items-center flex-grow-1 container-fluid min-vh-100 justify-content-start" >
         <h3 class="mt-5">{% block page_header %}{% endblock %}</h3>
         <p class="lead">{% block page_header_p %}{% endblock %}</p>
         <div class="container">{% block content %}{% endblock %}</div>
      </div>
   </main>
  <footer class="bd-footer">
    <div class="container-fluid" >
         <span class="text-muted">&copy; Copyright 2021 by BGASM.</span>
    </div>
   </footer>
</body>
</html>



